body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif
}

a {
  color: #00B7FF
}

ul {
  font-size: 25px;
}

table, tr, td {
  border: 1px solid black; 
  border-color: white;
  text-align: center; 
  font-size: 22px;
  border-collapse: collapse;
  padding: 5px;
}

thead {
  background-color: #FFE4C4;
}

#weight-cell {
  background-color: #C4BD97;
}

#leader-cell {
  background-color: #DDD9C3;
}

#body-cell {
  background-color: #D7E4BD;
}

#empty-cell {
  background-color: white;
}